.App {
  text-align: center;
}

.container-list{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-find form{
  margin-bottom: 50px;
  margin-top: 50px;
}
.form-find input{
  height: 30px;
  width: 300px;
  border: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: indigo;
}
::placeholder{
  font-size: 14px;
}
.form-find input:focus{
  outline: none;
  background:none
}
.form-find label{
  font-size: 25px;
  font-weight: bold;
  color: indigo;
}
.form-find button{
  height: 35.5px;
  border: none;
  background-color: indigo;
  color: white;
  width: 80px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}